<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="ui mini modal transition syukko-check-modal"
	th:fragment="components_syukko_check_modal">
	<div class="header">確認画面</div>
	<div class="content">
		<label class="label-name">出庫してよろしいでしょうか？</label>
	</div>
	<div class="actions">
		<div class="ui negative button">キャンセル</div>
		<div class="ui positive right labeled icon button syukko-check-ok-btn"
			tabindex="0">
			OK <i class="checkmark icon"></i>
		</div>
	</div>
</div>
</html>

